@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
    .align-element{
        @apply mx-auto max-w-7xl px-8;
    }
}

.container {
  position: relative;
/*   width: 90vw;
  height: 90vh;
  max-width: 90vh;
  max-height: 90vw; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
}

h4 {
/*   color: var(--mid); */
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 1rem;
  text-align: center;
  pointer-events: none;
}

.flair {
  cursor: pointer;
  width: 70px;
  height: 70px;
  max-height: 100vh;
  max-width: 100vh;
}

.flair--4b {
  background-image:url(https://assets.codepen.io/16327/ui-flair-4.png);
}